.root {
    display: block;
    padding: 15px;
    margin: * * 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 1.4;
&_compact {
     composes: root;
 }
}
.reparate_item {
    display: flex;
    flex-direction: row;
}
.users_container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 25px;

}
.sub_container_header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}
.user_container_header {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}
.inline_items{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 10px;
}
.row_items {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.image {
    display: block;
    size: 100% *;
    padding: 100% * *;
    background: #ddd center / cover;
}

.placeholder {
    composes: image;
    position: relative;
}

.icon {
    position: absolute 0;
    size: 1em;
    margin: auto;
    color: #aaa;
}
.returning_subscribers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.list_column {
    display: flex;
    flex-direction: column;
}
.list_column_highcharts {
    width: 200px;
    height: 200px;
}
.list_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list_row_margin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
.list_columnItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.list_columnItemStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}
.list_column_item {
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list_column_item_line {
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.list_column_itemSmall {
    font-size: 8px;
    font-weight: 300;
}
.list_item_number_default {
    font-size: 22px;
    font-weight: 500;
    color: #f47423;
    margin-left: 15px;
}
.strong_number{
    font-size: 16px;
}
.list_item_star {
    font-size: 18px;
    font-weight: 300;
    color: #f47423;
    margin-right: 15px;
}
.list_item_number{
    font-size: 22px;
    font-weight: 500;
    color: #f47423;
    text-align: right;
}
.list_item_number_pink {
    font-size: 22px;
    font-weight: 500;
    color: #ed1967;
    text-align: right;
}
.list_row_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.title,
.description {
.root_compact & {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
}
