.root {
    display: block;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 1.4;
    max-width: 1100px;
    margin: auto;
&_compact {
     composes: root;
 }
}
.user_container_header {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}
.returning_subscribers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
}
.users_container_empty {
    padding: 15px;
    margin-bottom: 25px;

}
.list_column {
    display: flex;
    flex-direction: column;
}
.reparate_item_col {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 72px;
    width: 10%;
    align-self: flex-end;
    background-color: #8f9092;
}
.container_header_sub {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small_text_panel {
    margin: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
.container_category_item {
    text-align: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container_bottom {
    position: absolute;
    width: 100%;
    z-index: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(88, 88, 90);
    height: 72px;
}
.container_middle {
    display: flex;
    flex-direction: row;
    z-index: 1;
}
