.assigned-tasks {
    background: rgba(249, 249, 249, 0) url("../__assets__/assigned-tasks.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.completed-tasks {
    background: rgba(249, 249, 249, 0) url("../__assets__/completed-tasks.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.unasigned-tasks {
    background: rgba(249, 249, 249, 0) url("../__assets__/unasigned-tasks.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.declined-tasks {
    background: rgba(249, 249, 249, 0) url("../__assets__/declined-tasks.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.cancelled-tasks {
    background: rgba(249, 249, 249, 0) url("../__assets__/cancelled-tasks.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.new-installation-antenna {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-antenna.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.new-installation-other {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-other.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.new-installation-decoder {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-decoder.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.repair-antenna {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-antenna.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.repair-decoder {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-decoder.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.repair-other {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-other.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
