.container {
    display: flex;
    align-items: stretch;
}

.header {
    background: rgb(255, 255, 255);
    border-radius: 0;
    border-color: #dee0e2;
}

.nav {
    // flex: 0 0 200px;
    background: #dee0e2;
    margin: -20px 0 0;
}

.children {
    flex: 1 1 auto;
    width: 0; /* it fix MKP-427 */
}
