.checkbox_wrap {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}
.checkbox {
    margin-right: 7px;
    top: 1px;
}
.label {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    margin: 0;
    font-weight: initial;
}
