.new-installation-antenna {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-antenna.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.new-installation-other {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-other.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.new-installation-decoder {
    background: rgba(249, 249, 249, 0) url("../__assets__/new-installation-decoder.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.repair-antenna {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-antenna.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.repair-decoder {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-decoder.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.repair-other {
    background: rgba(249, 249, 249, 0) url("../__assets__/repair-other.svg") no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
}
.reparate_item_col {
    display: flex;
    flex-direction: column;
}
.returning_subscribers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.container_header_sub {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small_text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}
.small_text_panel {
    margin: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
