.reparate_item_col {
    display: flex;
    flex-direction: column;
}
.returning_subscribers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.container_header_sub {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small_text_panel {
    margin: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
